<div class="container">
    <main role="main">
        <section class="section">
            <section class="panels">
                <div class="panel">
                    <div
                        style="width: 100%; height: 200px; background-color: var(--borde); border-radius: 10px; margin-bottom: 15px; display: flex; align-items: center; justify-content: center; color: var(--subtexto);">
                        Foto Profesional
                    </div>
                    <h2>About Me</h2>
                    <p>Ingeniero en TI con experiencia en desarrollo web, automatización y análisis de datos. 
                        He creado soluciones empresariales en .NET y Python para Daikin. 
                        Busco optimizar procesos con software eficiente, alineado a estándares ISO, 
                        sin depender de servicios externos.</p>
                </div>

                <!-- Projects Section -->
                <div class="panel">
                    <h2>Proyectos</h2>

                    <div class="Proyect-cards">
                        <div class="Proyect-card card" data-project="Overtime-Request">
                            <h3>Overtime Request</h3>
                            <p>Soporte y mantenimiento a la app de Recursos Humanos para gestión de horas extra en Daikin.</p>
                        </div>

                        <div class="Proyect-card card" data-project="Etiquetas">
                            <h3>Etiquetas (Warehouse)</h3>
                            <p>Generador de etiquetas para piezas basado en datos del ERP Oracle; desarrollado en C# 
                                con conexión directa a API interna.
                            </p>
                        </div>

                        <div class="Proyect-card card" data-project="Portafolio-Web">
                            <h3>Portfolio Web Personal</h3>
                            <p>aplicacion web .NET C# con diseño obscuro minimalista y secciones dinámicas
                                para mostrar proyectos, experiencia, y contacto.
                            </p>
                        </div>

                        <div class="Proyect-card card" data-project="Placas">
                            <h3>Placas</h3>
                            <p>
                                Proyecto escolar realizado con PHP y XAMPP para el registro de infracciones en automoviles. 
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Skills Section -->
            <section class="panels">
                <div class="panel">
                    <h2>Habilidades</h2>
                    <h3>Frontend</h3>
                    <p>HTML5, CSS3 y Bootstrap</p>

                    <h3>Backend</h3>
                    <p>
                        C# .NET, ASP.NET Core, SQL Server, MySQL, PHP, Java, Python y Visual Basic
                    </p>

                    <h3>Herramientas</h3>
                    <p>
                        Git, Visual Studio, Netbeans, IntelliJ, Anaconda, SQL Server, Oracle SQL, Oracle ERP

                    </p>
                </div>

                <!-- Experience Section -->
                <div class="panel">
                    <h2>Experiencia / Educación</h2>

                    <div class="xp-cards">
                        <div class="xp-card" data-project="Daikin">
                            <h4>Daikin Manufacturing Mexico S.A de C.V.</h4>
                            <p>09/2024 - Presente</p>
                            <p>IT Trainee</p>
                        </div>

                        <div class="xp-card" data-project="College">
                            <h4>Ingenieria en Tecnologias de la Información</h4>
                            <p>05/2022 - 09/2025</p>
                            <p>Universidad Tangamanga</p>
                        </div>

                        <div class="xp-card" data-project="Smart-Teaching">
                            <h4>Smart Teaching</h4>
                            <p>05/2025 - 11/2025</p>
                            <p>Preparacion para TOEFL test B2</p>
                        </div>

                        <div class="xp-card" data-project="Office-Certificate">
                            <h4>Microsoft Office Specialist</h4>
                            <p>2020</p>
                            <p>Certificación MOS para la paquetería de Office (Power Point, Word, Excel)</p>
                        </div>
                    </div>
                </div>
            </section>



            <!-- Contact Section -->
            <section class="panel contact-panel">
                <h2>Contacto</h2>
                <form action="#" method="post">
                    <label for="name" class="lbl-name">Nombre</label>
                    <input type="text" class="txt-name" id="name" name="name" placeholder="Tu nombre completo"
                        required />

                    <label for="email" class="lbl-mail">Correo Electrónico</label>
                    <input type="email" class="txt-mail" id="email" name="email" placeholder="tu@email.com" required />

                    <label for="company" class="lbl-company">Empresa (Opcional)</label>
                    <input type="text" class="txt-company" id="company" name="company"
                        placeholder="Tu empresa o organización" />

                    <label for="message" class="lbl-message">Mensaje</label>
                    <textarea id="message" class="txt-message" name="message"
                        placeholder="¿Cómo te puedo ayudar?" required></textarea>

                    <button type="submit">Enviar Mensaje</button>
                </form>
            </section>
        </section>

    </main>
</div>

<!-- Modal Section -->

<div class="modal-overlay" id="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title" id="modal-title">Titulo</h2>
            <button class="close-btn" id="close-modal">&times;</button>
        </div>

        <div class="modal-body" id="modal-body"></div>
    </div>
</div>


<!-- Scroll trigger invisible -->
<div class="scroll-trigger"></div>


<footer class="reveal-footer">
    <div class="footer-content">
        <div class="footer-section">
            <h3>Contacto</h3>
            <p>
                Email: ricardo.a.p.santillan@gmail.com<br>
                Teléfono: +(52) 845 115 2129<br>
                San Luis Potosí, S.L.P. México
            </p>
        </div>
        <div class="footer-section">
            <h3>Servicios</h3>
            <ul>
                <li>Desarrollo Web Backend</li>
                <li>APIs REST</li>
                <li>Aplicaciones ASP.NET Core</li>
                <li>Diseño Responsive</li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Redes Sociales</h3>
            <ul>
                <li><a href="https://www.linkedin.com/in/ricardoalejandro/">Linkedin</a></li>
                <li><a href="https://github.com/RicardoAlejandroSantillan">Github</a></li>
                <li> <a href="mailto:ricardo.a.p.santillan@gmail.com">Email</a> </li>
                <li> <a href="#">Portfolio</a> </li>
            </ul>
        </div>
    </div>
</footer>
</div>
